.div {
  width: 308px;
  position: relative;
  line-height: 143.69%;
  font-weight: 500;
  display: inline-block;
  height: 35px;
  flex-shrink: 0;
}
.ageFrame,
.parent {
  overflow: hidden;
  display: flex;
  align-items: center;
}
.parent {
  width: 308px;
  box-shadow: var(--card-shadow);
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  border: 2px solid var(--color-khaki-200);
  box-sizing: border-box;
  height: 55px;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-lg);
  gap: var(--gap-3xs);
  font-family: var(--font-dm-mono);
  font-size: var(--font-size-base);
  color: var(--color-khaki-200);
}
.ageFrame {
  position: absolute;
  top: 283px;
  left: 33px;
  width: 309px;
  flex-direction: column;
  justify-content: center;
}
.div1 {
  width: 256px;
  position: relative;
  line-height: 143.69%;
  display: inline-block;
  height: 35px;
  flex-shrink: 0;
}
.nameFrame,
.nameFrameChild {
  overflow: hidden;
  display: flex;
  align-items: center;
}
.nameFrameChild {
  border: 2px solid var(--color-khaki-200);
  outline: 0;
  font-family: var(--font-dm-mono);
  font-size: var(--font-size-base);
  background-color: var(--color-white);
  width: 308px;
  box-shadow: var(--card-shadow);
  border-radius: var(--br-mini);
  box-sizing: border-box;
  height: 55px;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-lg);
  color: var(--color-khaki-200);
}
.nameFrame {
  position: absolute;
  top: 145px;
  left: 34px;
  width: 307px;
  flex-direction: column;
  justify-content: center;
  font-family: var(--font-titan-one);
}
.backInner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.back {
  position: absolute;
  top: 62px;
  left: 13px;
  width: 74px;
  height: 44.1px;
}
.next {
  position: relative;
  font-size: var(--font-size-2xl);
  font-weight: 500;
  font-family: var(--font-dm-mono);
  color: var(--color-darkslateblue-100);
  text-align: left;
}
.iphone11ProNameageInner,
.nextWrapper {
  cursor: pointer;
  padding: var(--padding-sm) var(--padding-109xl);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nextWrapper {
  border: 0;
  background-color: var(--color-khaki-100);
  width: 341.1px;
  border-radius: var(--br-xl);
  height: 65.8px;
}
.nextWrapper:hover {
  background-color: #ccbe60;
}
.iphone11ProNameageInner {
  border: 4px dashed var(--color-darkkhaki-100);
  background-color: transparent;
  position: absolute;
  top: 686.4px;
  left: calc(50% - 177.5px);
  border-radius: var(--br-4xl);
  width: 354.3px;
  height: 80.1px;
}
.iphone11ProNameage {
  width: 100%;
  position: relative;
  border-radius: var(--br-25xl);
  background-color: var(--color-white);
  height: 812px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-dm-mono);
}
